ion-grid {
    padding: 0;
}
body {
    margin: 0;
}
#toolbar {
    position: fixed;
    color: #fff;
    /* --background: #f8f8f8; */
    /* --background: #f8f8f8f1; */
    /* --ion-color-base: transparent !important; */
}

@media (max-width: 1000px)  {
    #toolbar{
        bottom: 0;
        z-index: 99;
    }
}
#wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#section-1,
#section-2,
#section-3,
#section-4,
#section-5
 {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

#section-1 {
    width: 100%;
    scroll-snap-align: start;
    /* background: #111;
    background: linear-gradient(300deg, #000 26.7%, #111 82.37%); */
}
/* Simple is Better */
#section-1 h3 {
    background: linear-gradient(100deg, #3b3b3b 26.7%, #dd0000 82.37%);
    width: 300px;
    display: inline-block;
    color: #fff;
    padding: 1em;
    border-radius: 10px;
    opacity: 0;
    animation: fade-in 1s ease 1s forwards;
}
@keyframes fade-in {
    0% {
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media (max-width: 1000px)  {
    #wrapper,
    #section-1,
    #section-2,
    #section-3,
    #section-4,
    #section-5{
        scroll-snap-type: none;
        scroll-snap-align: none;
        height: auto;
    }

    #section-1 {
        height: auto;
    }
}


.landing-header {
    font-size: 4em;
    background: #fff;
    display: block;
    /* background: linear-gradient(300deg, #0D021C 26.7%, #650087 82.37%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.landing-header-sm {
    font-size: 2em;
    color: #222;
}
.landing-text {
    line-height: 1.5em;
    color: #fff;
    /* background: #fff; */
    opacity: 0;
    animation: fade-in 1s ease 0.5s forwards;
}
@media (max-width: 600px)  {
    .landing-header {
        font-size: 1.5em;
    }
    .landing-text  {
        font-size: 0.8em;
        line-height: 1.5em;
        width: 100%;
    }
    #section-1 h3 {
        position: relative;
        bottom: 2em;
    }
}

.pic {
    border-radius: 10px;
    height: 300px;
    width: 300px;
}
.pic-sm {
    border-radius: 10px;
    height: 200px;
    width: 200px;
    margin-top: 1em;
}


.swiper {
    width: 100%;
    /* height: ; */
  }
.swiper-wrapper {
    margin: 0em;
}
.swiper-pagination {
    position: relative;
    /* top: 3em; */
}
.swiper-button-prev,
.swiper-button-next
 {
    background: linear-gradient(300deg, #0D021C 26.7%, #650087 82.37%);
    height: 60px !important;
    width: 60px !important;
    border-radius: 100px;
    color: #fff !important;
}
.swiper-button-prev::after {
    font-size: 1em;
}
 .slider-btns {
        /* position: relative; */
        /* top: 2em; */
        z-index: 999;
        background: linear-gradient(300deg, #0D021C 26.7%, #191123 82.37%);
    }
@media (max-width: 600px)  {
    .swiper {
        margin: 3em auto;
        width: 100%
    }
    /* .slider-btns {
        position: relative;
        bottom: 6em;
        background: linear-gradient(300deg, #0D021C 26.7%, #191123 82.37%);
    } */
}
.photo-ill {
    background: blue;
    height: 50px;
    width: 100%;
}
.photos {
    width: 100%;
    height: 100%;
    /* background: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.photos img {
    height: 100%;
}
@media (max-width: 1000px)  {
    .photos img {
        /* height: auto; */
    }
}
@media (max-width: 600px)  {
    .photos img {
        height: auto;

        /* width: 300px; */
    }
}

/* Projects */
#section-3 {
    padding: 2em 0;
}
.projects-header {
    /* position: relative;
    top: 2.5em;
    right: 2em; */
}
.project {
    width: auto;
    /* margin: 0.5em; */
    padding: 0.3em;
    border-radius: 0.4em;
    border: 2px solid #9999997b;
}
.project-header {
    font-size: 1.5em;
}
.pj-wrp {
    height: auto;
    width: 100%;
    margin: 0.8em;
    padding: 1em;
    background: #fff;
    border: 2px solid #999;
    transition: 0.5s;
}
.pj-wrp p {
    font-size: 0.85em;
    height: auto;
}
.pj-wrp ion-toolbar {
    padding-top: 0.5em; 
    --background: none;
    border-top: 1px solid #d2d2d2;
}
@media (min-width: 1000px)  {
    .pj-wrp:hover {
        border-image: linear-gradient(300deg, #0D021C 26.7%, #650087 82.37%) 1 / 5px;
        border-width: 2px;
        border-style: solid;  
        box-shadow: 1px 1px 10px #cccccc;
        padding: 1.5em;
    }
}
@media (max-width: 1000px)  {
    .pj-wrp{
        height: auto;
    }
    .projects-header {
        right: 1em;
        top: 0;
    }
    .pj-wrp p {
        font-size: 0.9em;
        height: auto;
    }
}

@media (max-width: 1000px)  {
    #section-4 {
        padding: 5em 0;
    }
}
#section-4 ion-input {
    text-align: left;
    display: inline-block;
    width: 40%;
    border: 1px solid #fff;
    --padding-start: 1em;
    --highlight-color-focused: #ffcb0a;
}
#section-4 ion-textarea {
    text-align: left;
    display: inline-block;
    margin-top: 1em;
    width: 80.5%;
    border: 1px solid #fff;
    --padding-start: 1em;
    --highlight-color-focused: #ffcb0a;
}
.send-art {
    height: 200px;
    width: 100px;
    background: blue;
    display: inline;
}
.send-header {
    background: linear-gradient(300deg, #00c400 26.7%, #0ff131 82.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.send-btn {
    margin: 1em auto;
    width: 300px;
    color: #fff;
    /* border: 1px solid #0ff131; */
    --background: #650087;
    ;
}

#sectionation-lg {
    /* background: #b1b1b153; */
    background: linear-gradient(300deg, #0D021C 26.7%, #191123 82.37%);
    z-index: 9999;
    width: auto;
    height: auto;
    padding: 0.35em;
    position: absolute;
    right: 3%;
    bottom: 20%;
    text-align: center;
    border-radius: 10px;
}
#sectionation-lg ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#sectionation-lg ul li {
    justify-content: center;
    display: flex;
}
.nav-bullet {
    background-image: url('./assets/icons/nav-bullet.svg');
    background-repeat: no-repeat;
    margin: 0.54em 0;
    width: 10px;
    height: 10px;
    transition: 1s;
}
.current {
    background-image: url('./assets/icons/nav-bullet-current.svg');
    transition: 1s;
    animation: nav-change-section 1s ease;
}
@media (max-width: 1000px)  {
    #sectionation-lg{
        display: none;
    }
}
@keyframes nav-change-section {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}
