html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* prevent body from scrolling */
}
.jura {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Scrollbar */
/* For Firefox */
html.light {
  scrollbar-color: #00c400 #fff; /* thumb and track color */
  scrollbar-width: thin;
}

html.dark {
  scrollbar-color: #ff4500 #000;
  scrollbar-width: thin;
}

/* For Chrome, Safari, and Edge */
/* Set the width and track color for both themes */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html.dark ::-webkit-scrollbar-track {
  background: #000;
}

/* Style the scrollbar thumb */
html.light ::-webkit-scrollbar-thumb {
  background: #00c400;
  border-radius: 6px;
}

html.dark ::-webkit-scrollbar-thumb {
  background: #ff4500;
  border-radius: 6px;
}

/* Add a hover effect */
html.light ::-webkit-scrollbar-thumb:hover {
  background: #00a000;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: #ff6030;
}